@page "/"

<h1>База данных PizzaDB</h1>

<p>Данная система разработана для удобной работы с таблицами базы данных PizzaDB.</p>
<p>Автор веб-приложения: Голубенков Д.А.</p>
<p>Группа: ИВБО-06-18</p>

<p>Исходный код системы доступен по <a href="https://github.com/AltairWinner/PizzaDBApplication">ссылке</a>.</p>

<p>Краткая информация: для разработки системы использовались язык C#, платформа ASP.NET Core и фреймворк Blazor. Для отображения таблиц использовался набор компонентов для Blazor от DevExpress.</p>
<p>В качестве СУБД используется Microsoft SQL Server. Соответственно, используется язык запросов T-SQL, имеющий определенные отличия от языка, используемого в MySQL-подобных базах данных. Для связи с базой данных и маппинга результатов используется Dapper. Dapper позволяет писать SQL запросы вручную, в отличие от предлагаемого по умолчанию Microsoft Entity Framework. Кроме того, он намного быстрее работает во многих случаях.</p>

