<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Система PizzaDB</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Описание системы
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="Menu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Таблица меню
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="Clients">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Таблица клиентов
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="Employees">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Таблица сотрудников
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="PartnerProducts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Таблица продуктов партнеров
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="Recipes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Таблица рецептов
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="Compositions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Таблица составов продуктов
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="Orders">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Таблица заказов
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
